<nz-card 
    nz-col 
    nzSpan="24" 
    [nzTitle]="pageTitle"
    [nzExtra]="actionButton"
    nzBorderless>
    <nz-table 
        class="modalidad-table" 
        #modalidadTable 
        [nzData]="modalidades" 
        [nzLoading]="loading" 
        [nzLoadingIndicator]="loadingImg"
        [nzShowPagination]="false"
        nzBordered>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th *appCanUseActions="allowed_actions" class="modalidad-table_actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (modalidad of modalidadTable.data; track $index) {
                <tr>
                    <td>
                        {{modalidad.id}}
                    </td>
                    <td>
                        {{modalidad.modalidad}}
                    </td>
                    <td *appCanUseActions="allowed_actions">
                        <app-modalidad-actions 
                            [modalidad]="modalidad"
                            [index]="$index"
                            type_actions="buttons"
                            (delete)="onDelete($event)"
                            (update)="onUpdate($event)"
                            (setLoading)="onLoad($event)">
                        </app-modalidad-actions>
                    </td>
                </tr>
            }
        </tbody>
    </nz-table>
    <div class="flex py-3 w-full justify-end">
        <nz-pagination
            (nzPageIndexChange)="changePage($event)"
            [nzHideOnSinglePage]="true"
            [nzPageIndex]="page"
            [nzTotal]="numero_modalidades"
            [nzPageSize]="page_size">
        </nz-pagination>
    </div>
</nz-card>
<ng-template #loadingImg>
    <app-sena-loading [loading]="loading"></app-sena-loading>
</ng-template>
<ng-template #pageTitle>
    <div class="page-title" nz-row nzAlign="middle" nzGutter="15">
        <div nz-col>
            <ng-icon name="heroAcademicCapSolid"></ng-icon>
        </div>
        <div nz-col>
            <h1>Modalidades</h1>
        </div>
    </div>
</ng-template>
<ng-template #actionButton>
    <app-modalidad-actions
        *appCanUseActions="allowed_actions"
        (create)="onCreate($event)" 
        (setLoading)="onLoad($event)">
    </app-modalidad-actions>
</ng-template>


