@tailwind base;
@tailwind components;
@tailwind utilities;

.select-input{
    @apply w-full;
}

::ng-deep .ant-upload{
    border: 2px;
    border-color: green !important;
}

::ng-deep .ant-select-single{
   background-color: red !important;
}

::ng-deep .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    @apply bg-[--primary-green-color-transparent];
}

.upload-container{
    @apply flex flex-col justify-center items-center gap-2;
}

.upload-submit{
    @apply w-1/2 p-2;
    @apply flex justify-center items-center;
    @apply bg-[--primary-green-color];
    /*hover*/
    @apply hover:bg-[--tertiary-green-color];
}

.upload-submit__disabled {
    @apply bg-[--primary-green-color-transparent];
    /*hover*/
    @apply hover:bg-[--primary-green-color-transparent];
}

.upload-submit__text{
    @apply text-white;
}
.upload-submit__disabled .upload-submit__text{
    @apply text-[--primary-green-color];
}