<nz-card nz-col class="container mx-auto" nzSpan="24" nzBorderless>
    <div class="flex justify-center gap-3">
        <div class="flex gap-1 justify-center items-center">
            <div class="w-[20px] h-[20px] bg-[--green-label-chart-color]"></div>
            <span class="text-md font-semibold">100% - 60%</span>
        </div>
        <div class="flex gap-1 justify-center items-center">
            <div class="w-[20px] h-[20px] bg-[--yellow-label-chart-color]"></div>
            <span class="text-md font-semibold">59% - 50%</span>
        </div>
        <div class="flex gap-1 justify-center items-center">
            <div class="w-[20px] h-[20px] bg-[--orange-label-chart-color]"></div>
            <span class="text-md font-semibold">49% - 30%</span>
        </div>
        <div class="flex gap-1 justify-center items-center">
            <div class="w-[20px] h-[20px] bg-[--red-label-chart-color]"></div>
            <span class="text-md font-semibold">29% - 0%</span>
        </div>
    </div>
    <div class="flex flex-wrap mx-auto w-[95%] gap-3 justify-center">
        @for (nivel of niveles; track $index) {
            <app-bar-char-nivel-modalidad 
                class="w-1/4" 
                [reporte_nivel]="reportes_nivel[$index]"
                [meta_nivel]="metas_nivel[$index]">
            </app-bar-char-nivel-modalidad>
        }
    </div>
    <div class="w-full flex justify-center py-2">
        <table class="table-container">
            <thead class="bg-[--primary-green-color-transparent]">
                <tr>
                    <th class="py-2 px-3">Modalidad</th>
                    @for (nivel of niveles; track $index) {
                        <th class="py-2 px-3">{{nivel}}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (modalidad of modalidades; track $index) {
                    <tr [ngClass]="{'pair-row':(($index%2)!==0)}">
                        <td class="font-semibold text-md">{{modalidad}}</td>
                        @for (nivel of niveles; track $index) {
                            <td>
                                <div class="flex flex-col gap-2" >
                                    <span class="w-full"> Ejecutado: {{ reportes_nivel[$index]|valueReporte:nivel:modalidad}}</span>                              
                                    <span class="w-full">Meta: {{metas_nivel[$index]|valueReporte:nivel:modalidad}}</span>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</nz-card>