<nz-card
    nz-col
    nzSpan="24"
    [nzTitle]="pageTitle"
    nzBorderless>
    <nz-table
        class="usuario-table"
        #usuarioTable
        [nzData]="usuarios"
        [nzLoading]="loading"
        [nzShowPagination]="false"
        nzBordered
        >
        <thead>
            <tr>
                <th nzCustomFilter>
                    Documento
                    <app-search-cell
                        [visible]="buscar_usuario"
                        (search)="onSearch($event)"
                        (reset)="onResetSearch()"
                        [searchValue]="documento_usuario"
                        type="number"
                        placeHolder="Buscar por documento"
                    ></app-search-cell>
                </th>
                <th>
                    Tipo de documento
                </th>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Email
                </th>
                <th>
                    Estado
                </th>
 
            </tr>
        </thead>
        <tbody>
            @for (usuario of usuarioTable.data; track $index) {
                
                <tr>
                    <td>
                        {{usuario.per_documento}}
                    </td>
                    <td>
                        {{usuario.per_tipo_documento|tipoDocumento}}
                    </td>
                    <td>
                        {{usuario.per_nombres}}
                    </td>
                    <td>
                        {{usuario.per_apellidos}}
                    </td>
                    <td>
                        {{usuario.email}}
                    </td>
                    <td>
                        @if (usuario.is_active) {
                            <strong>Activo</strong>
                        }@else {
                            <strong>Inactivo</strong>
                        }
                    </td>
    
                </tr>

            }
        </tbody>
    </nz-table>
    <div class="flex py-3 w-full justify-end">
        <nz-pagination
            (nzPageIndexChange)="changePage($event)"
            [nzHideOnSinglePage]="true"
            [nzPageIndex]="page"
            [nzTotal]="num_usuarios"
            [nzPageSize]="page_size">
        </nz-pagination>
    </div>
</nz-card>
<ng-template #pageTitle>
    <nz-space class="page-title" nzAlign="center">
        <div *nzSpaceItem>
            <ng-icon name="heroUserGroupSolid"></ng-icon>
        </div>
        <div *nzSpaceItem>
            <h1>Usuarios</h1>
        </div>
    </nz-space>
</ng-template>
<ng-template #loadingImg>
    <app-sena-loading [loading]="loading"></app-sena-loading>
</ng-template>
