<div class="container">
    @if (chart_options) {
        @if (empty_report) {
            <div id="chart" [ngClass]="{'chart-container-f':this.mostrar_filtros,'chart-container-no-f':!this.mostrar_filtros}" class="chart-results">
                <apx-chart
                    class="chart-container"
                    [series]="chart_options.series"
                    [chart]="chart_options.chart"
                    [responsive]="chart_options.responsive"
                    [labels]="chart_options.labels"
                    [legend]="chart_options.legend">
                </apx-chart>
            </div>
        }@else {
            <div class="chart-no-results" [ngClass]="{'chart-container-f':this.mostrar_filtros,'chart-container-no-f':!this.mostrar_filtros}">
                <span class="no-results-title">No se encontraron aprendices</span>
            </div>
        }
        
    }
    @if (mostrar_filtros) {
        <div class="filter-container">
            <section class="filter-sub__container">
                <h3 class="filter-sub__title">Filtrar por fechas</h3>
                <nz-date-picker
                    class="w-1/3"
                    [(ngModel)]="fecha_inicio"
                    (ngModelChange)="onChangeInicio()"
                    nzPlaceHolder="Fecha de inicio"
                ></nz-date-picker>
                <nz-date-picker
                    class="w-1/3"
                    [(ngModel)]="fecha_fin"
                    (ngModelChange)="onChangeFin()"
                    nzPlaceHolder="Fecha de terminación"
                ></nz-date-picker>
            </section>
            <section class="filter-sub__container">
                <h3 class="filter-sub__title">Filtrar por estado del aprendiz y tipo de documento</h3>
                <nz-select 
                    class="filter-sub__select" 
                    [(ngModel)]="estado_aprendiz"
                    (ngModelChange)="onChangeEstadoAprendiz()"
                    (nzScrollToBottom)="onScrollEstadoAprendiz()"
                    (nzOnSearch)="onSearchEstadoAprendiz($event)"
                    [nzAllowClear]="true"
                    [nzShowSearch]="true"
                    [nzServerSearch]="true"
                    [nzDropdownRender]="loadingEstadoAprendiz"
                    [nzLoading]="is_loading_estados_aprendiz"
                    nzPlaceHolder="Filtrar por estado del aprendiz">
                    @for (estado_aprendiz_item of estados_aprendiz; track $index) {
                        <nz-option [nzLabel]="estado_aprendiz_item.estado_aprendiz" [nzValue]="estado_aprendiz_item.estado_aprendiz"></nz-option>
                    }
                </nz-select>
                <nz-select 
                    class="filter-sub__select" 
                    [(ngModel)]="tipo_documento"
                    (ngModelChange)="onChangeTipoDocumento()"
                    (nzScrollToBottom)="onScrollTipoDocumento()"
                    (nzOnSearch)="onSearchTipoDocumento($event)"
                    [nzAllowClear]="true"
                    [nzShowSearch]="true"
                    [nzServerSearch]="true"
                    [nzDropdownRender]="loadingTipoDocumento"
                    [nzLoading]="is_loading_tipo_documento"
                    nzPlaceHolder="Filtrar aprendices por tipo de documento">
                    @for (tipo_documento_item of tipos_documento; track $index) {
                        <nz-option [nzLabel]="tipo_documento_item.tipo_documento+' - '+tipo_documento_item.descripcion" [nzValue]="tipo_documento_item.tipo_documento"></nz-option>
                    }
                </nz-select>
            </section>
            <section class="filter-sub__container">
                <h3 class="filter-sub__title">Filtrar por regional y centro de formación</h3>
                <nz-select 
                    class="filter-sub__select" 
                    [(ngModel)]="regional"
                    (ngModelChange)="onChangeRegional()"
                    (nzScrollToBottom)="onScrollRegionales()"
                    (nzOnSearch)="onSearchRegional($event)"
                    [nzAllowClear]="true"
                    [nzShowSearch]="true"
                    [nzServerSearch]="true"
                    [nzDropdownRender]="loadingRegionales"
                    [nzLoading]="is_loading_regionales"
                    nzPlaceHolder="Filtrar por regional">
                    @for (regional_item of regionales; track $index) {
                        <nz-option 
                            [nzLabel]="regional_item.regional" 
                            [nzValue]="regional_item.regional">
                        </nz-option>
                    }
                </nz-select>
                <nz-select 
                    class="filter-sub__select" 
                    [(ngModel)]="centro_formacion"
                    (ngModelChange)="onChangeCentroFormacion()"
                    (nzScrollToBottom)="onScrollCentroFormacion()"
                    (nzOnSearch)="onSearchCentroFormacion($event)"
                    [nzAllowClear]="true"
                    [nzShowSearch]="true"
                    [nzServerSearch]="true"
                    [nzDropdownRender]="loadingCentroFormacion"
                    [nzLoading]="is_loading_centro_formacion"
                    nzPlaceHolder="Filtrar por centro de formación"
                    [disabled]="centros_formacion.length < 1">
                    @for (centro_formacion_item of centros_formacion; track $index) {
                        <nz-option 
                            [nzLabel]="centro_formacion_item.sede" 
                            [nzValue]="centro_formacion_item.sede">
                        </nz-option>
                    }
                </nz-select>
            </section>
            <section class="filter-sub__container">
                <h3 class="filter-sub__title">Filtrar por nivel de formación y programa</h3>
                <nz-select 
                    class="filter-sub__select" 
                    [(ngModel)]="nivel_formacion"
                    (ngModelChange)="onChangeNivelFormacion()"
                    (nzScrollToBottom)="onScrollNiveles()"
                    (nzOnSearch)="onSearchNivel($event)"
                    [nzAllowClear]="true"
                    [nzShowSearch]="true"
                    [nzServerSearch]="true"
                    [nzDropdownRender]="loadingNiveles"
                    [nzLoading]="is_loading_niveles"
                    nzPlaceHolder="Filtrar por nivel de formación">
                    @for (nivel_formacion_item of niveles_formacion; track $index) {
                        <nz-option [nzLabel]="nivel_formacion_item.nivel_de_formacion" [nzValue]="nivel_formacion_item.nivel_de_formacion"></nz-option>
                    }
                </nz-select>
                <nz-select class="filter-sub__select" 
                    [(ngModel)]="codigo_programa"
                    (ngModelChange)="onChangePrograma()"
                    (nzScrollToBottom)="onScrollPrograma()"
                    (nzOnSearch)="onSearchPrograma($event)"
                    [disabled]="!this.nivel_formacion"
                    [nzAllowClear]="true"
                    [nzShowSearch]="true"
                    [nzServerSearch]="true"
                    [nzDropdownRender]="loadingProgramas"
                    [nzLoading]="is_loading_programas"
                    nzPlaceHolder="Filtrar por programa">
                    @for (programa_item of programas; track $index) {
                        <nz-option [nzLabel]="'V'+programa_item.version_prograna+'-'+programa_item.programa" [nzValue]="programa_item.codigo_programa"></nz-option>
                    }
                </nz-select>
            </section>
        </div>
    }
</div>
<ng-template #loadingTipoDocumento>
    <nz-spin [nzSpinning]="is_loading_tipo_documento">
    </nz-spin>
</ng-template>
<ng-template #loadingEstadoAprendiz>
    <nz-spin [nzSpinning]="is_loading_estados_aprendiz">
    </nz-spin>
</ng-template>
<ng-template #loadingRegionales>
    <nz-spin [nzSpinning]="is_loading_regionales">
    </nz-spin>
</ng-template>
<ng-template #loadingCentroFormacion>
    <nz-spin [nzSpinning]="is_loading_centro_formacion">
    </nz-spin>
</ng-template>
<ng-template #loadingProgramas>
    <nz-spin [nzSpinning]="is_loading_programas">
    </nz-spin>
</ng-template>
<ng-template #loadingNiveles>
    <nz-spin [nzSpinning]="is_loading_niveles">
    </nz-spin>
</ng-template>

