<form class="form-container" nz-form [formGroup]="form">
    <nz-form-item nz-col nzSpan="20">
        <nz-form-control [nzErrorTip]="nombreErrors">
            <nz-form-label nzFor="nombre" class="form-label" nzRequired>
                <span class="form-label_text" nz-typography>Nombre</span>
            </nz-form-label>
            <nz-input-group class="form-group">
                <input 
                    class="form-input"
                    (focus)="onFocus($event)"
                    (blur)="onBlur($event)"
                    nz-input type="text" 
                    [formControl]="field_nombre" 
                    id="nombre" 
                    nz-typography
                    placeholder="Escriba el nombre del centro de formación">
            </nz-input-group>
        </nz-form-control> 
    </nz-form-item>
</form>

<ng-template #nombreErrors>
    @if (field_nombre.hasError('required')||field_nombre.hasError('whitespace')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El nombre del centro de formación es obligatorio</span>
        </div>
    }
    @if (field_nombre.hasError('maxlength')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El nombre del centro de formación debe tener maximo 60 caracteres</span>
        </div>
    }
    @if (field_nombre.hasError('minlength')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El nombre del centro de formación debe tener minimo 5 caracteres</span>
        </div>
    }
</ng-template>
