<nz-card 
    nz-col 
    nzSpan="24" 
    [nzTitle]="pageTitle"
    [nzExtra]="actionButton"
    nzBorderless>
    <nz-table 
        class="regional-table" 
        #regionalTable 
        [nzData]="regionales" 
        [nzLoading]="loading" 
        [nzLoadingIndicator]="loadingImg"
        [nzShowPagination]="false"
        nzBordered="">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th *appCanUseActions class="regional-table_actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (regional of regionalTable.data; track $index) {
                <tr>
                    <td>
                        {{regional.id}}
                    </td>
                    <td>
                        {{regional.regional}}
                    </td>
                    <td *appCanUseActions>
                        <app-regional-actions 
                            [regional]="regional"
                            [index]="$index"
                            type_actions="buttons"
                            (delete)="onDelete($event)"
                            (update)="onUpdate($event)"
                            (setLoading)="onLoad($event)">
                        </app-regional-actions>
                    </td>
                </tr>
            }
        </tbody>
    </nz-table>
    <div class="flex py-3 w-full justify-end">
        <nz-pagination
            (nzPageIndexChange)="changePage($event)"
            [nzHideOnSinglePage]="true"
            [nzPageIndex]="page"
            [nzTotal]="numero_regionales"
            [nzPageSize]="page_size">
        </nz-pagination>
    </div>
</nz-card>
<ng-template #loadingImg>
    <app-sena-loading [loading]="loading"></app-sena-loading>
</ng-template>
<ng-template #pageTitle>
    <div class="page-title" nz-row nzAlign="middle" nzGutter="15">
        <div nz-col>
            <ng-icon name="heroMapSolid"></ng-icon>
        </div>
        <div nz-col>
            <h1>Regionales</h1>
        </div>
    </div>
</ng-template>
<ng-template #actionButton>
    <app-regional-actions
        *appCanUseActions
        (create)="onCreate($event)" 
        (setLoading)="onLoad($event)">
    </app-regional-actions>
</ng-template>
