<nav nz-flex nzJustify="space-between" nzAlign="center">
    <div nz-col nzSpan="3">
        <div class="logo-sena">
        </div>
    </div>
    <div nz-col nzSpan="10">
        <div nz-row nzJustify="center">
            <h4 class="title">METAS</h4>
        </div>
    </div>
    <div nz-col nzSpan="3">
        <div class="profile-menu" nz-dropdown [nzDropdownMenu]="menuPerfil" nz-flex nzJustify="end" nzAlign="center" nzGap="middle">
            <div class="profile-menu_descripcion" nz-col nzSpan="16">
                <div nz-row nzJustify="start">
                    <div nz-col nzSpan="20">
                        <span class="nombre" nz-typography>{{usuario()?.per_nombres}} {{usuario()?.per_apellidos}}</span>
                    </div>
                    <div nz-col nzSpan="20">
                        <span class="rol" nz-typography>{{ usuario()?.roles?.[0]?.name || ''}}</span>
                    </div>
                </div>
            </div>
        </div>
        <nz-dropdown-menu #menuPerfil>
            <ul class="menu-list" nz-menu>
                <!-- <li nz-menu-item [routerLink]="['/dashboard','perfil']">
                    <a nz-typography>
                        Perfil
                    </a>
                </li> -->
                <li class="menu-list_divider" nz-menu-divider></li>
                <li nz-menu-item (click)="onLogOut()">
                    <a nz-typography>
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
</nav>
