<nav class="nav-container">
    <div class="nav-container__logo">
        <div class="logo-sena">
        </div>
    </div>
    <div class="nav-container__title">
        <h4>METAS</h4>
        <div class="container-title__user">
            <span class="title-user__name">{{usuario()?.per_nombres}} {{usuario()?.per_apellidos ?? ''}}</span>
            <div class="title-user__roles">
                @for (rol of roles(); track $index) {
                    <span class="title-user__rol">{{rol}}
                        @if (roles().length - 1 != $index) {
                            ,
                        }
                    </span>
                }
            </div>
        </div>
    </div>
    <div class="nav-container__menu">
        <ul class="flex gap-1 justify-end">
            <li>
                <app-usuario-actions
                    [usuario]="usuario()"
                    [icons]="true"
                    [long_title]="true"
                    [type_actions]="'actualizar'">
                </app-usuario-actions>
            </li>
            <li>
                <button
                    (click)="onLogOut()" 
                    class="logout-button button">
                    <ng-icon name="lucideDoorOpen"></ng-icon>
                    <span>Cerrar Sesión</span>
                </button>
            </li>
        </ul>
    </div>
</nav>
