<nav nz-flex nzJustify="space-between" nzAlign="center">
    <div nz-col nzSpan="3">
        <div class="logo-sena">
        </div>
    </div>
    <div nz-col nzSpan="10">
        <div nz-row nzJustify="center">
            <h4 class="title">METAS</h4>
        </div>
    </div>
    <div nz-col nzSpan="3">
        <div class="profile-menu" nz-dropdown [nzDropdownMenu]="menuPerfil" nz-flex nzJustify="end" nzAlign="center" nzGap="middle">
            <div class="profile-menu_avatar" nz-col nzSpan="4">
                @if (usuario()) {
                    <nz-avatar [nzSrc]="usuario()?.foto_perfil"></nz-avatar>
                }@else {
                    <nz-avatar class="menu-avatar_icon" nzIcon="user"></nz-avatar>
                }
            </div>
            <div class="profile-menu_descripcion" nz-col nzSpan="16">
                <div nz-row nzJustify="start">
                    <div nz-col nzSpan="20">
                        <span class="nombre" nz-typography>{{usuario()?.nombre}} {{usuario()?.apellido}}</span>
                    </div>
                    <div nz-col nzSpan="20">
                        <span class="rol" nz-typography>{{ usuario()?.roles?.[0]?.name || ''}}</span>
                    </div>
                </div>
            </div>
        </div>
        <nz-dropdown-menu #menuPerfil>
            <ul class="menu-list" nz-menu>
                <li nz-menu-item>
                    <a [routerLink]="['/dashboard','perfil']" nz-typography>
                        Perfil
                    </a>
                </li>
                <li class="menu-list_divider" nz-menu-divider></li>
                <li nz-menu-item>
                    <a (click)="onLogOut()" nz-typography>
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
</nav>
