nav {
    height: 100%;
}

.divider{
    background-color: var(--primary-green-color);
}

.title{
    font-size: 2rem;
    color: var(--primary-green-color);
}

.menu-avatar_icon{
    background-color: var(--primary-green-color);
    color: var(--primary-white-color);
}

.profile-menu_descripcion{
    line-height: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-break: auto;
}

.profile-menu_descripcion .nombre{
    color: var(--primary-green-color);
}

.profile-menu_descripcion .rol{
    color: var(--secondary-green-color);
}

.menu-list a{
    text-decoration: none;
    color: var(--primary-black-color);
}

.menu-list li:hover {
    background-color: var(--primary-green-color-transparent);
}

.menu-list li:hover a{
    color: var(--primary-green-color);
}

.menu-list_divider{
    background-color: var(--primary-green-color);
}

@media (max-width:949px) {
    .profile-menu_descripcion{
        display: none;
    }
}