<main class="login-conainter" nz-col nzSpan="18">
    <div nz-flex nzJustify="center" nzAlign="start" nzWrap="wrap" nzGap="50px">
        <div nz-col nzSpan="24">
            <div nz-row nzJustify="center" class="login-title">
                <span class="login-title_text" nz-typography>METAS: Iniciar Sesión</span>
            </div>
        </div>
        <div nz-col nzSpan="24">
            <div nz-flex nzAlign="center" nzJustify="center">
                <form class="form-container" nz-form [formGroup]="form" (ngSubmit)="submitForm()">
                    <nz-form-item nz-col nzSpan="20">
                        <nz-form-control 
                            nzErrorTip="Por favor ingrese su documento valido!">
                            <nz-form-label 
                                nzFor="documento" 
                                class="form-label">
                                <span 
                                    class="form-label_text" 
                                    nz-typography>
                                    Documento de identidad
                                </span>
                            </nz-form-label>
                            <nz-input-group 
                                class="form-group" 
                                [nzPrefix]="iconDoc">
                                <input 
                                    class="form-input" 
                                    (focus)="onFocus($event)" 
                                    (blur)="onBlur($event)" 
                                    type="number" 
                                    nz-input
                                    *appOnlyNumbers
                                    formControlName="per_documento"
                                    placeholder="Escriba su documento de identidad" id="documento" nz-typography/>
                            </nz-input-group>
                            <ng-template #iconDoc>
                                <ng-icon class="form-input_icon" name="heroIdentification"></ng-icon>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-col nzSpan="20">
                        <nz-form-label nzFor="password" class="login-form_label">
                            <span class="form-label_text" nz-typography>Contraseña</span>
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Por favor ingrese su contraseña!">
                            <nz-input-group class="form-group" [nzPrefix]="iconLock" [nzSuffix]="showIcon">
                                <input class="form-input" (focus)="onFocus($event)" (blur)="onBlur($event)" [type]="password_type" nz-input formControlName="password"
                                    placeholder="Escriba su contraseña" id="password" nz-typography/>
                                <ng-template #showIcon>
                                    <ng-icon class="form-input_icon input-icon_password" [name]="password_icon" (click)="onShowPassword()"></ng-icon>
                                </ng-template>
                                <ng-template #iconLock>
                                    <ng-icon class="form-input_icon" name="heroLockClosed"></ng-icon>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <button #submitButton nz-col nzSpan="12" [disabled]="form.invalid" nz-button [ngClass]="{'form-button_invalid':form.invalid}" class="form-button" [nzLoading]="loading">
                        <span class="form-button_text" nz-typography>Iniciar Sesión</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>