<nz-card 
    nz-col
    [nzSpan]="24"
    [nzTitle]="pageTitle">
    <app-pie-chart-aprentidices (filter)="onFilter($event)" [mostrar_filtros]="true">
    </app-pie-chart-aprentidices>
    <div class="flex justify-between py-2">
        <span class="text-lime-600 text-2xl">Aprendices sena: {{numero_aprendices}}</span>
        <nz-select [(ngModel)]="page_size" (ngModelChange)="sizeChange()">
            <nz-option [nzLabel]="10" [nzValue]="10"></nz-option>
            <nz-option [nzLabel]="20" [nzValue]="20"></nz-option>
            <nz-option [nzLabel]="30" [nzValue]="30"></nz-option>
            <nz-option [nzLabel]="40" [nzValue]="40"></nz-option>
            <nz-option [nzLabel]="50" [nzValue]="50"></nz-option>
            <nz-option [nzLabel]="60" [nzValue]="60"></nz-option>
            <nz-option [nzLabel]="70" [nzValue]="70"></nz-option>
            <nz-option [nzLabel]="80" [nzValue]="80"></nz-option>
            <nz-option [nzLabel]="90" [nzValue]="90"></nz-option>
            <nz-option [nzLabel]="100" [nzValue]="100"></nz-option>        
        </nz-select>
    </div>
    <nz-table #aprendizTable [nzPageSize]="page_size" [nzData]="aprendices" [nzShowPagination]="false">
        <thead>
            <tr>
                <th>Nombre del aprendiz</th>
                <th>
                    Numero de documento
                    <nz-filter-trigger [(nzVisible)]="buscar_aprendiz" [nzActive]="!!buscar_aprendiz_value" [nzDropdownMenu]="buscarAprendiz">
                        <ng-icon name="lucideSearch"></ng-icon>
                    </nz-filter-trigger>
                </th>
                <th>Tipo de documento</th>
                <th>Ficha</th>
                <th>Programa</th>
                <th>Estado del aprendiz</th>
            </tr>
        </thead>
        <tbody>
            @for (aprendiz of aprendizTable.data; track $index) {
                <tr>
                    <td>{{aprendiz.nombre}} {{aprendiz.primer_apellido}} {{aprendiz.segundo_apellido}}</td>
                    <td>{{aprendiz.numero_documento}}</td>
                    <td>{{aprendiz.tipo_documento}}</td>
                    <td>{{aprendiz.ficha}}</td>
                    <td>{{aprendiz.programa}}</td>
                    <td>{{aprendiz.estado_aprendiz}}</td>
                </tr>
            }
        </tbody>
    </nz-table>
    <div class="flex py-3 w-full justify-end">
        <nz-pagination
            (nzPageIndexChange)="changePage($event)" 
            [nzHideOnSinglePage]="true"
            [nzPageIndex]="page_table" 
            [nzTotal]="numero_aprendices"
            [nzPageSize]="page_size">
        </nz-pagination>
    </div>
</nz-card>
<ng-template #pageTitle>
    <div class="page-title" nz-row nzAlign="middle" nzGutter="15">
        <div nz-col>
            <ng-icon name="heroChartPie"></ng-icon>
        </div>
        <div nz-col>
            <h1>Estado de los aprendices sena</h1>
        </div>
    </div>
</ng-template>
<nz-dropdown-menu #buscarAprendiz="nzDropdownMenu">
    <div class="caja-busqueda">
      <div class="search-box">
        <input type="number"  
            nz-input 
            placeholder="Buscar por documento" 
            [(ngModel)]="buscar_aprendiz_value" 
            appOnlyNumbers/>
        <div class="caja-busqueda_buttons">
            <button (click)="onSearch()" nzType="primary" class="search-button">Search</button>
            <button (click)="onResetSearch()" class="button-reset">Reset</button>
        </div>
      </div>
    </div>
  </nz-dropdown-menu>
