<main class="login-conainter" nz-col nzSpan="18">
    <div nz-flex nzJustify="center" nzAlign="start" nzWrap="wrap" nzGap="50px">
        <div nz-col nzSpan="24">
            <div nz-row nzJustify="center" class="login-title">
                <span class="login-title_text" nz-typography>METAS: Recuperar contraseña</span>
            </div>
        </div>
        <div nz-col nzSpan="24">
            <div nz-flex nzAlign="center" nzJustify="center">
                <form class="form-container" nz-form [formGroup]="form" (ngSubmit)="submitForm()">
                    <nz-form-item nz-col nzSpan="20">
                        <nz-form-label nzFor="password" class="login-form_label">
                            <span class="form-label_text" nz-typography>Contraseña</span>
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Por favor ingrese su contraseña!">
                            <nz-input-group class="form-group" [nzPrefix]="iconLock" [nzSuffix]="showIcon">
                                <input class="form-input" (focus)="onFocus($event)" (blur)="onBlur($event)" [type]="password_type" nz-input formControlName="password"
                                    placeholder="Escriba su contraseña" id="password" nz-typography/>
                                <ng-template #showIcon>
                                    <ng-icon class="form-input_icon input-icon_password" [name]="password_icon" (click)="onShowPassword()"></ng-icon>
                                </ng-template>
                                <ng-template #iconLock>
                                    <ng-icon class="form-input_icon" name="heroLockClosed"></ng-icon>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item nz-col nzSpan="20">
                        <nz-form-label nzFor="password2" class="login-form_label">
                            <span class="form-label_text" nz-typography>Confirmar Contraseña</span>
                        </nz-form-label>
                        <nz-form-control nzErrorTip="Las contraseñas no coinciden!">
                            <nz-input-group class="form-group">
                                <input class="form-input" (focus)="onFocus($event)" (blur)="onBlur($event)" [type]="password_type" nz-input formControlName="password2"
                                    placeholder="Confirme su contraseña" id="password2" nz-typography/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <div nz-col nzSpan="12" class="flex flex-col gap-2 justify-center items-center p-1">
                        <button #submitButton [disabled]="form.invalid" nz-button [ngClass]="{'form-button_invalid':form.invalid}" class="form-button w-full mb-3" [nzLoading]="loading">
                            <span class="form-button_text" nz-typography>Cambiar contraseña</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>