.page-title ng-icon,
.page-title h1{
    color: var(--primary-green-color);
    font-size: 2rem;
    margin-bottom: 0;
}

.nivel-table {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.nivel-table_actions{
    width: 30%;
}