<nz-card
    nz-col
    [nzSpan]="24"
    [nzTitle]="pageTitle"
    [nzExtra]="actionButton"
    nzBorderless>
    <div class="flex gap-2 py-3">
        <nz-select
            class="w-1/6"
            [(ngModel)]="meta"
            (ngModelChange)="onChangeMeta()"
            (nzScrollToBottom)="onScrollMeta()"
            (nzOnSearch)="onSearchMeta($event)"
            [nzAllowClear]="true"
            [nzShowSearch]="true"
            [nzServerSearch]="true"
            [nzDropdownRender]="loadingMeta"
            [nzLoading]="is_loading_meta"
            nzPlaceHolder="Año">
            @for (meta of metas; track $index) {
                <nz-option [nzLabel]="meta.met_anio" [nzValue]="meta.met_anio"></nz-option>
            }
            <ng-template #loadingMeta>
                <nz-spin [nzSpinning]="is_loading_meta">
                </nz-spin>
            </ng-template>
        </nz-select>
        <nz-select
            class="w-1/6"
            [(ngModel)]="modalidad"
            (ngModelChange)="onChangeModalidad()"
            (nzScrollToBottom)="onScrollModalidad()"
            (nzOnSearch)="onSearchModalidad($event)"
            [nzAllowClear]="true"
            [nzShowSearch]="true"
            [nzServerSearch]="true"
            [nzDropdownRender]="loadingModalidad"
            [nzLoading]="is_loading_modalidad"
            nzPlaceHolder="Modalidad">
            @for (modalidad of modalidades; track $index) {
                <nz-option [nzLabel]="modalidad.modalidad" [nzValue]="modalidad.modalidad"></nz-option>
            }
            <ng-template #loadingModalidad>
                <nz-spin [nzSpinning]="is_loading_modalidad">
                </nz-spin>
            </ng-template>
        </nz-select>
        <nz-date-picker
            class="w-1/6"
            [(ngModel)]="fecha_inicio"
            (ngModelChange)="onChangeInicio()"
        ></nz-date-picker>
        <nz-date-picker
            class="w-1/6"
            [(ngModel)]="fecha_fin"
            (ngModelChange)="onChangeFin()"
        ></nz-date-picker>
    </div>
    <div class="flex justify-center gap-2 px-1 py-3">
        @for (estrategia_item of estrategias; track $index) {
            <app-estrategia-card 
                (onSelect)="onChangeEstrategia($event)"
                [estrategia]="estrategia_item" 
                [seleccionada]="estrategia">
            </app-estrategia-card>
        }
    </div>
    <div class="w-full flex justify-end py-2">
        <nz-pagination
            (nzPageIndexChange)="changePage($event)"
            [nzPageIndex]="page_estrategia"
            [nzTotal]="num_estrategia"
            [nzPageSize]="size_estrategia">
        </nz-pagination>
    </div>
    <nz-table
        class="poblaciones-table"
        #detallesTable
        [nzData]="estrategias_detalle"
        [nzLoading]="loading"
        [nzLoadingIndicator]="loadingImg"
        [nzShowPagination]="false"
        nzBordered>
        <thead>
            <tr>
                <th>Id</th>
                <th>Año</th>
                <th>Fechas</th>
                <th>Modalidad</th>
                <th>Estrategia</th>
                <th>Operarios</th>
                <th>Auxiliares</th>
                <th>Tecnicos</th>
                <th>Tecnologos</th>
                <th>Eventos</th>
                <th>Profundicación tecnica</th>
                <th>Con Bilingüismo</th>
                <th>Sin Bilingüismo</th>
                <th *appCanUseActions class="bilinguismo-table_actions">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (detalle of detallesTable.data; track $index) {
                <tr>
                    <td>{{detalle.estd_id}}</td>
                    <td>{{detalle.meta!.met_anio}}</td>
                    <td>{{detalle.meta!.met_fecha_inicio}} / {{detalle.meta!.met_fecha_fin}}</td>
                    <td>{{detalle.modalidad!.modalidad}}</td>
                    <td>{{detalle.estrategia!.est_nombre}}</td>
                    <td>{{detalle.estd_operario_meta}}</td>
                    <td>{{detalle.estd_auxiliar_meta}}</td>
                    <td>{{detalle.estd_tecnico_meta}}</td>
                    <td>{{detalle.estd_tecnologo}}</td>
                    <td>{{detalle.estd_evento}}</td>
                    <td>{{detalle.estd_profundizacion_tecnica_meta}}</td>
                    <td>{{detalle.estd_bilinguismo}}</td>
                    <td>{{detalle.estd_sin_bilinguismo}}</td>
                    <td *appCanUseActions>
                        <ng-container *ngTemplateOutlet="updateDelete; context:{detalle,$index}"></ng-container>
                    </td>
                </tr>
            }
        </tbody>
    </nz-table>
    <ng-container *ngTemplateOutlet="pagination"></ng-container>
</nz-card>
<ng-template #pagination>
    <div class="flex py-3 w-full justify-end">
        <nz-pagination
            (nzPageIndexChange)="changePage($event)"
            [nzHideOnSinglePage]="true"
            [nzPageIndex]="page"
            [nzTotal]="numero_detalles"
            [nzPageSize]="page_size">
        </nz-pagination>
    </div>
</ng-template>
<ng-template #pageTitle>
    <div class="page-title" nz-row nzAlign="middle" nzGutter="15">
        <div nz-col>
            <ng-icon name="lucideGoal"></ng-icon>
        </div>
        <div nz-col>
            <h1>Gestión Programas de Metas</h1>
        </div>
    </div>
</ng-template>
<ng-template #loadingImg>
    <app-sena-loading [loading]="loading"></app-sena-loading>
</ng-template>
<ng-template #updateDelete let-estrategia="meta" let-i="index">
    <app-estrategia-detalle-actions>
    </app-estrategia-detalle-actions>
</ng-template>
<ng-template #actionButton>
    <!-- <app-estrategia-actions
        [long_title]="true">
    </app-estrategia-actions> -->
    <app-estrategia-detalle-actions>
    </app-estrategia-detalle-actions>
</ng-template>

