<div class="flex justify-center gap-3">
    <div class="flex gap-1 justify-center items-center">
        <div class="w-[20px] h-[20px] bg-[--green-label-chart-color]"></div>
        <span class="text-md font-semibold">100% - 60%</span>
    </div>
    <div class="flex gap-1 justify-center items-center">
        <div class="w-[20px] h-[20px] bg-[--yellow-label-chart-color]"></div>
        <span class="text-md font-semibold">59% - 50%</span>
    </div>
    <div class="flex gap-1 justify-center items-center">
        <div class="w-[20px] h-[20px] bg-[--orange-label-chart-color]"></div>
        <span class="text-md font-semibold">49% - 30%</span>
    </div>
    <div class="flex gap-1 justify-center items-center">
        <div class="w-[20px] h-[20px] bg-[--red-label-chart-color]"></div>
        <span class="text-md font-semibold">29% - 0%</span>
    </div>
</div>