<form class="form-container" nz-form [formGroup]="form">
    <nz-form-item nz-col nzSpan="20">
        <nz-form-control 
            [nzErrorTip]="erroresCodigo">
            <nz-form-label 
                nzFor="codigo" 
                class="form-label"
                nzRequired>
                <span 
                    class="form-label_text" 
                    nz-typography>
                    Código
                </span>
            </nz-form-label>
            <nz-input-group 
                class="form-group">
                <input 
                    class="form-input" 
                    (focus)="onFocus($event)" 
                    (blur)="onBlur($event)" 
                    type="number" 
                    nz-input 
                    [formControl]="field_codigo"
                    placeholder="Escriba el código del programa" 
                    id="codigo" 
                    nz-typography/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="20">
        <nz-form-control 
            [nzErrorTip]="erroresCodigo">
            <nz-form-label 
                nzFor="version" 
                class="form-label"
                nzRequired>
                <span 
                    class="form-label_text" 
                    nz-typography>
                    Versión
                </span>
            </nz-form-label>
            <nz-input-group 
                class="form-group">
                <input 
                    class="form-input" 
                    (focus)="onFocus($event)" 
                    (blur)="onBlur($event)" 
                    type="number" 
                    nz-input 
                    [formControl]="field_version"
                    placeholder="Escriba la version del programa" 
                    id="version" 
                    nz-typography/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="20">
        <nz-form-control 
            [nzErrorTip]="erroresPrograma">
            <nz-form-label 
                nzFor="nombre" 
                class="form-label"
                nzRequired>
                <span 
                    class="form-label_text" 
                    nz-typography>
                    Nombre
                </span>
            </nz-form-label>
            <nz-input-group 
                class="form-group">
                <input 
                    class="form-input" 
                    (focus)="onFocus($event)" 
                    (blur)="onBlur($event)" 
                    type="text" 
                    nz-input 
                    [formControl]="field_programa"
                    placeholder="Escriba el nombre del programa" 
                    id="nombre" 
                    nz-typography/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col nzSpan="20">
        <nz-form-control [nzErrorTip]="erroresModalidad">
            <nz-form-label nzFor="modalidad" class="form-label" nzRequired>
                <span class="form-label_text" nz-typography>Modalidad</span>
            </nz-form-label>
            <nz-input-group class="form-group">
                <nz-select
                    id="modalidad"
                    [formControl]="field_modalidad"
                    (nzScrollToBottom)="onScrollModalidad()"
                    (nzOnSearch)="onSearchModalidad($event)"
                    [nzAllowClear]="true"
                    [nzShowSearch]="true"
                    [nzServerSearch]="true"
                    [nzDropdownRender]="loadingModalidad"
                    [nzLoading]="is_loading_modalidad"
                    nzPlaceHolder="Elija la modalidad del programa">
                    @for (modalidad of modalidades; track $index) {
                        <nz-option [nzLabel]="modalidad.modalidad" [nzValue]="modalidad.id"></nz-option>
                    }
                </nz-select>
                <ng-template #loadingModalidad>
                    <nz-spin [nzSpinning]="is_loading_modalidad">
                    </nz-spin>
                </ng-template>
            </nz-input-group>
        </nz-form-control> 
    </nz-form-item>
    <nz-form-item nz-col nzSpan="20">
        <nz-form-control 
            [nzErrorTip]="erroresDuracion">
            <nz-form-label 
                nzFor="duracion" 
                class="form-label"
                nzRequired>
                <span 
                    class="form-label_text" 
                    nz-typography>
                    Duración
                </span>
            </nz-form-label>
            <nz-input-group 
                class="form-group">
                <input 
                    class="form-input" 
                    (focus)="onFocus($event)" 
                    (blur)="onBlur($event)" 
                    type="number" 
                    nz-input 
                    [formControl]="field_duracion"
                    placeholder="Escriba el código del programa" 
                    id="duracion" 
                    nz-typography/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
</form>
<ng-template #erroresCodigo>
    @if (field_codigo.hasError('required')||field_codigo.hasError('whitespace')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El codigo del programa es obligatorio</span>
        </div>
    }
    @if (field_codigo.hasError('maxlength')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El codigo del programa debe tener maximo 10 caracteres</span>
        </div>
    }
    @if (field_codigo.hasError('minlength')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El codigo del programa debe tener minimo 5 caracteres</span>
        </div>
    }
</ng-template>

<ng-template #erroresPrograma>
    @if (field_programa.hasError('required') || field_programa.hasError('whitespace')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El nombre del programa es obligatorio</span>
        </div>
    }
    @if (field_programa.hasError('maxlength')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El nombre del programa debe tener máximo 60 caracteres</span>
        </div>
    }
    @if (field_programa.hasError('minlength')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">El nombre del programa debe tener mínimo 5 caracteres</span>
        </div>
    }
</ng-template>

<ng-template #erroresDuracion>
    @if (field_duracion.hasError('required')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">La duración del programa es obligatoria</span>
        </div>
    }
    @if (field_duracion.hasError('min')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">La duración del programa debe ser al menos 1</span>
        </div>
    }
</ng-template>

<ng-template #erroresModalidad>
    @if (field_modalidad.hasError('required')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">La modalidad es obligatoria</span>
        </div>
    }
</ng-template>

<ng-template #erroresVersion>
    @if (field_version.hasError('required')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">La versión del programa es obligatoria</span>
        </div>
    }
    @if (field_version.hasError('min')) {
        <div nz-col nzSpan="24">
            <span nz-typography nzType="danger">La versión del programa debe ser al menos 1</span>
        </div>
    }
</ng-template>
