<nz-card
    nz-col
    [nzSpan]="24"
    [nzTitle]="pageTitle"
    [nzExtra]="actionButton"
    nzBorderless>
    <div class="flex gap-2 py-3">
        <nz-select
            class="w-1/6"
            [(ngModel)]="meta"
            (ngModelChange)="onChangeMeta()"
            (nzScrollToBottom)="onScrollMeta()"
            (nzOnSearch)="onSearchMeta($event)"
            [nzAllowClear]="true"
            [nzShowSearch]="true"
            [nzServerSearch]="true"
            [nzDropdownRender]="loadingMeta"
            [nzLoading]="is_loading_meta"
            nzPlaceHolder="Año">
            @for (meta of metas; track $index) {
                <nz-option [nzLabel]="meta.met_anio" [nzValue]="meta.met_anio"></nz-option>
            }
            <ng-template #loadingMeta>
                <nz-spin [nzSpinning]="is_loading_meta">
                </nz-spin>
            </ng-template>
        </nz-select>
        <nz-select
            class="w-1/6"
            [(ngModel)]="modalidad"
            (ngModelChange)="onChangeModalidad()"
            (nzScrollToBottom)="onScrollModalidad()"
            (nzOnSearch)="onSearchModalidad($event)"
            [nzAllowClear]="true"
            [nzShowSearch]="true"
            [nzServerSearch]="true"
            [nzDropdownRender]="loadingModalidad"
            [nzLoading]="is_loading_modalidad"
            nzPlaceHolder="Modalidad">
            @for (modalidad of modalidades; track $index) {
                <nz-option [nzLabel]="modalidad.modalidad" [nzValue]="modalidad.modalidad"></nz-option>
            }
            <ng-template #loadingModalidad>
                <nz-spin [nzSpinning]="is_loading_modalidad">
                </nz-spin>
            </ng-template>
        </nz-select>
        <nz-select
            class="w-1/6"
            [(ngModel)]="centro"
            (ngModelChange)="onChangeCentro()"
            (nzScrollToBottom)="onScrollCentro()"
            (nzOnSearch)="onSearchCentro($event)"
            [nzAllowClear]="true"
            [nzShowSearch]="true"
            [nzServerSearch]="true"
            [nzDropdownRender]="loadingCentro"
            [nzLoading]="is_loading_centro"
            nzPlaceHolder="Centro de formación">
            @for (centro of centros; track $index) {
                <nz-option [nzLabel]="centro.centro_de_formacion" [nzValue]="centro.centro_de_formacion"></nz-option>
            }
            <ng-template #loadingCentro>
                <nz-spin [nzSpinning]="is_loading_centro">
                </nz-spin>
            </ng-template>
        </nz-select>
        <nz-date-picker
            class="w-1/6"
            [(ngModel)]="fecha_inicio"
            (ngModelChange)="onChangeInicio()"
        ></nz-date-picker>
        <nz-date-picker
            class="w-1/6"
            [(ngModel)]="fecha_fin"
            (ngModelChange)="onChangeFin()"
        ></nz-date-picker>
    </div>
    <nz-table
        class="poblaciones-table"
        #metasTable
        [nzData]="metas_formacion"
        [nzLoading]="loading"
        [nzLoadingIndicator]="loadingImg"
        [nzShowPagination]="false"
        nzBordered>
        <thead>
            <tr>
                <th>Id</th>
                <th>Año</th>
                <th>Fechas</th>
                <th>Centro de formación</th>
                <th>Modalidad</th>
                <th>Operarios</th>
                <th>Auxiliares</th>
                <th>Tecnicos</th>
                <th>Tecnologos</th>
                <th>Eventos</th>
                <th>Profundicación tecnica</th>
                <th>Con Bilingüismo</th>
                <th>Sin Bilingüismo</th>
                <th *appCanUseActions="allowed_actions" class="bilinguismo-table_actions">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (meta of metasTable.data; track $index) {
                <tr>
                    <td>{{meta.metd_id}}</td>
                    <td>{{meta.meta!.met_anio}}</td>
                    <td>{{meta.meta!.met_fecha_inicio}} / {{meta.meta!.met_fecha_fin}}</td>
                    <td>{{meta.centro_de_formacion!.centro_de_formacion}}</td>
                    <td>{{meta.modalidad!.modalidad}}</td>
                    <td>{{meta.met_formacion_operario}}</td>
                    <td>{{meta.met_formacion_auxiliar}}</td>
                    <td>{{meta.met_formacion_tecnico}}</td>
                    <td>{{meta.met_formacion_tecnologo}}</td>
                    <td>{{meta.met_formacion_evento}}</td>
                    <td>{{meta.met_formacion_profundizacion_tecnica}}</td>
                    <td>{{meta.met_formacion_bilinguismo}}</td>
                    <td>{{meta.met_formacion_sin_bilinguismo}}</td>
                    <td *appCanUseActions="allowed_actions">
                        <ng-container *ngTemplateOutlet="updateDelete; context:{meta:meta,index:$index}"></ng-container>
                    </td>
                </tr>
            }
        </tbody>
    </nz-table>
    <ng-container *ngTemplateOutlet="pagination"></ng-container>
</nz-card>
<ng-template #pagination>
    <div class="flex py-3 w-full justify-end">
        <nz-pagination
            (nzPageIndexChange)="changePage($event)"
            [nzHideOnSinglePage]="true"
            [nzPageIndex]="page"
            [nzTotal]="numero_metas"
            [nzPageSize]="page_size">
        </nz-pagination>
    </div>
</ng-template>
<ng-template #pageTitle>
    <div class="page-title" nz-row nzAlign="middle" nzGutter="15">
        <div nz-col>
            <ng-icon name="lucideGoal"></ng-icon>
        </div>
        <div nz-col>
            <h1>Gestión formacion regular</h1>
        </div>
    </div>
</ng-template>
<ng-template #loadingImg>
    <app-sena-loading [loading]="loading"></app-sena-loading>
</ng-template>
<ng-template #updateDelete let-meta="meta" let-i="index">
    <app-metas-formacion-actions
        [metaFormacion]="meta"
        [index]="i"
        type_actions="buttons"
        (delete)="onDelete($event)"
        (update)="onUpdate($event)"
        (setLoading)="onLoad($event)">
    </app-metas-formacion-actions>
</ng-template>
<ng-template #actionButton>
    <app-metas-formacion-actions
        (create)="onCreate($event)"
        (setLoading)="onLoad($event)"
        *appCanUseActions="allowed_actions">
    </app-metas-formacion-actions>
</ng-template>

