<main class="login-conainter" nz-col nzSpan="18">
    <div nz-flex nzJustify="center" nzAlign="start" nzWrap="wrap" nzGap="50px">
        <div nz-col nzSpan="24">
            <div nz-row nzJustify="center" class="login-title">
                <span class="login-title_text" nz-typography>METAS: Recuperar contraseña</span>
            </div>
        </div>
        <div nz-col nzSpan="24">
            <div nz-flex nzAlign="center" nzJustify="center">
                <form class="form-container" nz-form [formGroup]="form" (ngSubmit)="submitForm()">
                    <nz-form-item nz-col nzSpan="20">
                        <nz-form-control 
                            nzErrorTip="Por favor ingrese su documento valido!">
                            <nz-form-label 
                                nzFor="documento" 
                                class="form-label">
                                <span 
                                    class="form-label_text" 
                                    nz-typography>
                                    Documento de identidad
                                </span>
                            </nz-form-label>
                            <nz-input-group 
                                class="form-group" 
                                [nzPrefix]="iconDoc">
                                <input 
                                    class="form-input" 
                                    (focus)="onFocus($event)" 
                                    (blur)="onBlur($event)" 
                                    type="number" 
                                    nz-input
                                    appOnlyNumbers
                                    formControlName="document"
                                    placeholder="Escriba su documento de identidad" id="documento" nz-typography/>
                            </nz-input-group>
                            <ng-template #iconDoc>
                                <ng-icon class="form-input_icon" name="heroIdentification"></ng-icon>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <div nz-col nzSpan="12" class="flex flex-col gap-2 justify-center items-center p-1">
                        <button #submitButton [disabled]="form.invalid" nz-button [ngClass]="{'form-button_invalid':form.invalid}" class="form-button w-full" [nzLoading]="loading">
                            <span class="form-button_text" nz-typography>Enviar correo</span>
                        </button>
                        <div class="text-[--primary-green-color] hover:text-[--secondary-green-color]">
                            <a [routerLink]="['/auth','inicio-sesion']">¿quieres iniciar sesión?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>