@tailwind base;
@tailwind components;
@tailwind utilities;

nz-layout {
    min-height: 100vh;
}

nz-header {
    background-color: var(--primary-white-color);
    border-bottom: var(--primary-green-color) solid 1px;
    @apply flex h-fit justify-center;
}

app-top-nav-bar{
    @apply w-full;
}

::ng-deep .nav-container{
    width: 100% !important;
}

nz-sider{
    background-color: var(--primary-white-color);
    overflow: hidden;
}

nz-content {
    padding: 1.5%;
}

nz-breadcrumb{
    margin-bottom: 15px;
}