nz-layout {
    min-height: 100vh;
}

nz-header {
    background-color: var(--primary-white-color);
    border-bottom: var(--primary-green-color) solid 1px;
}

nz-sider{
    background-color: var(--primary-white-color);
}



nz-content {
    padding: 2%;
}