<nz-card
    nz-col
    [nzSpan]="24"
    [nzTitle]="pageTitle">
    <app-pie-chart-fichas
        [numero_ficha]="buscar_ficha_value"
        (filter)="onFilter($event)" 
        [mostrar_filtros]="true">
    </app-pie-chart-fichas>
    <div class="flex justify-between py-2">
        <span class="text-lime-600 text-2xl">Fichas sena: {{numero_fichas}}</span>
        <nz-select [(ngModel)]="page_size" (ngModelChange)="sizeChange()">
            <nz-option [nzLabel]="10" [nzValue]="10"></nz-option>
            <nz-option [nzLabel]="20" [nzValue]="20"></nz-option>
            <nz-option [nzLabel]="30" [nzValue]="30"></nz-option>
            <nz-option [nzLabel]="40" [nzValue]="40"></nz-option>
            <nz-option [nzLabel]="50" [nzValue]="50"></nz-option>
            <nz-option [nzLabel]="60" [nzValue]="60"></nz-option>
            <nz-option [nzLabel]="70" [nzValue]="70"></nz-option>
            <nz-option [nzLabel]="80" [nzValue]="80"></nz-option>
            <nz-option [nzLabel]="90" [nzValue]="90"></nz-option>
            <nz-option [nzLabel]="100" [nzValue]="100"></nz-option>        
        </nz-select>
    </div>
    <nz-table
        #fichaTable
        [nzPageSize]="page_size"
        [nzData]="fichas"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th>
                    Ficha
                    <app-search-cell
                        [visible]="buscar_ficha"
                        (search)="onSearchByFicha($event)"
                        (reset)="onResetSearchFicha()"
                        [searchValue]="buscar_ficha_value"
                        type="number"
                        placeHolder="Buscar por ficha"
                    ></app-search-cell>
                </th>
                <th>Programa</th>
                <th>Estado de la ficha</th>
            </tr>
        </thead>
        <tbody>
            @for (ficha of fichaTable.data; track $index) {
                <tr>
                    <td>{{ficha.ficha}}</td>
                    <td>{{ficha.programa}}</td>
                    <td>{{ficha.estado_ficha}}</td>
                </tr>
            }
        </tbody>
    </nz-table>
    <div class="flex py-3 w-full justify-end">
        <nz-pagination
            (nzPageIndexChange)="changePage($event)"
            [nzHideOnSinglePage]="true"
            [nzPageIndex]="page_table"
            [nzTotal]="numero_fichas"
            [nzPageSize]="page_size">
        </nz-pagination>
    </div>
</nz-card>
<ng-template #pageTitle>
    <div class="page-title" nz-row nzAlign="middle" nzGutter="15">
        <div nz-col>
            <ng-icon name="heroChartPie"></ng-icon>
        </div>
        <div nz-col>
            <h1>Estado de las fichas sena</h1>
        </div>
    </div>
</ng-template>
