<ul class="side-menu" nz-menu nzMode="inline">
    @for (opcion of opciones_menu; track $index) {
        <li 
            class="side-menu_item"
            routerLinkActive="menu-item_active"
            nz-menu-item
            nzMatchRouter
            nz-popover
            [nzPopoverContent]="popOver"
            nzPopoverPlacement="right">
            <a class="menu-item_anchor" [routerLink]="['/dashboard',opcion.path]">
                <ng-icon [name]="opcion.data?.['icon']"></ng-icon>
                @if (!collapsed) {
                    <span nz-typography> {{opcion.title}}</span>
                }
                <ng-template #popOver>
                    <span>{{opcion.title}}</span>
                </ng-template>
                
            </a>
        </li>
    }
</ul>