.nivel-form {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

::ng-deep .nivel-form_label label::after,
.form-label_text{
    color:var(--primary-green-color);
    font-weight: 500;
    font-size: 1.2rem;
}

.nivel-form_control{
    border: var(--primary-green-color,) 2px solid;
}

.nivel-form_control:hover{
    border: var(--secondary-green-color,) 2px solid;
}

.form-control_focus{
    box-shadow: 0 0 3px 1px var(--tertiary-green-color);
}

::ng-deep .form-control_input {
    height: 30px;
    font-size: 1.3rem;
    border: none;
}

::ng-deep  .ant-input:hover{
    border-color: var(--primary-green-color);
}