<nz-card
    [ngClass]="{'selected':seleccionada==estrategia.est_nombre}"
    class="card"
    [nzActions]="[ actionEdit, actionDelete]">
    <button class="card-button" (click)="selectEstrategia()">
        <span class="card-button__title">
            {{estrategia.est_nombre|upperCase}}
        </span>
    </button>
</nz-card>
<ng-template #actionEdit>
    <app-estrategia-actions
        (setLoading)="onLoading($event)"
        (update)="onUpdate($event)"
        [estrategia]="estrategia" 
        [index]="index" 
        type_actions="actualizar" 
        [show_title]="false">
    </app-estrategia-actions>
</ng-template>
<ng-template #actionDelete>
    <app-estrategia-actions
        (delete)="onDelete($event)"
        [estrategia]="estrategia" 
        [index]="index" 
        type_actions="eliminar" 
        [show_title]="false">
    </app-estrategia-actions>
</ng-template>