<nz-card
    [ngClass]="{'border-gray-900':seleccionada==estrategia.est_nombre}"
    class="min-w-[100px] w-1/7 border rounded-md"
    [nzActions]="[ actionEdit, actionDelete]">
    <div class="w-full h-full p-4" (click)="selectEstrategia()">
        <span class="font-semibold">
            {{estrategia.est_nombre|upperCase}}
        </span>
    </div>
</nz-card>
<ng-template #actionEdit>
    <!-- <app-estrategia-actions type_actions="actualizar"></app-estrategia-actions> -->
</ng-template>
<ng-template #actionDelete>
    <!-- <app-estrategia-actions type_actions="eliminar"></app-estrategia-actions> -->
</ng-template>
